streamlit
langchain
openai
python-dotenv
PyPDF2
langchain
langchain-google-genai
langchain-community
faiss-cpu
sentence-transformers
langchain
streamlit
google-generativeai
streamlit>=1.35.0
openai>=1.14.2
